services:
  db:
    image: postgres:16
    environment:
      POSTGRES_USER: gymtrack
      POSTGRES_PASSWORD: gymtrack
      POSTGRES_DB: gymtrack
    ports:
      - '5432:5432'
    volumes:
      - db_data:/var/lib/postgresql/data

volumes:
  db_data:
